body {
  font-family: Arial, sans-serif;
  background-color: #d46c6c;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 300px;
}

#todo-container {
  background-color: transparent;
  border-radius: 8px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  width: 500px;
  height: 200px;
}

#todo-header {
  background-color: transparent;
  color: black;
  padding: 10px;
  text-align: center;
}

#todo-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.todo-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid #eee;
}

.todo-item:last-child {
  border-bottom: none;
}

.delete-btn {
  background-color: red;
  color: #fff;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 5px;
}

#add-todo-form {
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#add-todo-input {
  flex: 1;
  padding: 5px;
  margin-right: 10px;
}

#add-todo-btn {
  background-color: rgb(174, 174, 10);
  color: blacksmoke;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 5px;
}
